<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MqTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MqTests.Properties.Settings>
            <setting name="MqTests_WebReference_MqService" serializeAs="String">
                <value>http://212.116.96.50:2229/MqService.svc</value>
            </setting>
        </MqTests.Properties.Settings>
    </applicationSettings>
</configuration>