<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMqService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.8.93:4444/MqService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMqService" contract="WebReference.IMqService"
                name="BasicHttpBinding_IMqService" />
        </client>
    </system.serviceModel>
</configuration>